* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* styles */

.wrapper {
  padding: 100px 0;
}

.weather {
  background-color: #13a990;
  color: #fff; 
  border-radius: 10px;
  padding: 20px;
  max-width: 450px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.weather__loading {
  display: flex;  
  justify-content: center;
  align-items: center;
}

.fa-spinner {
  content: "\f110";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 48px;
}

.weather__header {
  display: flex;
}

.weather__main {
  flex: 1 1 auto;
}

.weather__city {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}

.weather__status {
  font-size: 20px;
  margin-bottom: 20px;
}

.weather__temp {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.weather__temp::after,
.weather__feels-like::after {
  display: inline-block;
  margin-left: 5px;
  content: "°C";
}